<div class="container">
  <div class="row">
    <h2>Departments</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>

  </div>
</div>

<style>
  .card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 33%;
    border-radius: 5px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .container {
    padding: 2px 16px;
  }
</style>


<div style="text-align: center;">
  <br>
  <h3 style="font-size: 32px;
font-weight: bold;">Number of Employees In Each Department</h3>
<br>

  {{#each departments}}
  <div style="display: inline-block;" class="card">
    <h1 style="text-align: center;
    padding: 40px;
    background-color: black;
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin: 0;">{{this.dept_name}}</h1>
    <div style="background-color: #f7f7f7;">
      <h3 style="text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0;">{{this.employees_count}}</h3>
    </div>

  </div>
  <br>
  <br>
  <br>



  {{/each}}
