<style>
  body {
    background-image: url("e172.jpg");
  }
</style>
<div>
  <img src="https://imgur.com/Jjl7TQX" alt="hello"/>
  <h1>Hello world!</h1>
  <p><a href="https://www.w3schools.com">Visit W3Schools.com!</a></p>
</div>
