body {
  padding: 50px;
  font: 14px "Open Sans", sans-serif;
}

a {
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  background-color: #ffffff;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #E1DFDE;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20;
  font-variant-position: sub;
  /* background: #bdbdbd; */

}

header {
  padding: 20px;
  background: black;
}

li {
  font-family: 'Open Sans', sans-serif;
	font-size: 30;
}

.logo {

  float: left;
  padding: 0px 20;
}

nav ul {
  margin: 0;
  padding: 0px 10;
  list-style: none;
}
nav a:hover {
  color: rgb(247, 242, 242);
}

nav a {
  color: rgb(179, 97, 97);
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 20px;
  margin: 0px 10;
}

h2
{
  border-left: solid 10px black;
  padding-left: 20px;
  font-weight: bold;
  font-size: 40px;
}
